<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to Perfect Express</h1>


  <%= form_tag('order') do %>
  <p>
  	Please input an order id:

    <%= text_field_tag 'orderid', :order_id, :placeholder => "input an order id" %>
    <%= submit_tag "Search!", :name => nil, class: "btn btn-large btn-primary" %>
  </p>
  <% end %>
 <% if signed_in? %>
 <%= link_to "My orders", current_user, class: "btn btn-large btn-primary" %>
 <%= link_to "New order", '/orders/new', class: "btn btn-large btn-primary" %>
 <% else %>
 <%= link_to "Signin now", signin_path, 
                                class: "btn btn-large btn-primary" %>
 <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>

 <% end %> 
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>