<% provide(:title, 'New Order') %>
<h1>Confirm Order</h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_for(@order) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
      <% if current_user.role == 'admin' %>
      <%= f.label :fromlocation, 'your address' %><br />
      <%=  Location.find_by_id(@order.fromlocation).address %><br/>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{Location.find_by_id(@order.fromlocation).latitude}%2C#{Location.find_by_id(@order.fromlocation).longitude}" %>
      <%= f.label :tolocation, 'receiver address' %><br />
      <%=  Location.find_by_id(@order.tolocation).address %><br/>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{Location.find_by_id(@order.tolocation).latitude}%2C#{Location.find_by_id(@order.tolocation).longitude}" %>
      <% else %>
      <%= f.label :fromlocation, 'your address' %><br />
      <%=  Location.find_by_id(@order.fromlocation).address %><br/>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{Location.find_by_id(@order.fromlocation).latitude}%2C#{Location.find_by_id(@order.fromlocation).longitude}" %>
      <%= f.label :tolocation, 'receiver address' %><br />
      <%=  Location.find_by_id(@order.tolocation).address %><br>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{Location.find_by_id(@order.tolocation).latitude}%2C#{Location.find_by_id(@order.tolocation).longitude}" %>
      <% end %>
      <br/>

      <%= f.label :state, 'state' %>
      <%= f.radio_button :state, 'In_Stock', :checked => true %> In_Stock
      <% if current_user.role =='admin' || current_user.role == 'carrier' %>
      <%= f.radio_button :state, 'Dispatching' %>Dispatching
      <%= f.radio_button :state, 'Dispatched' %>Dispatched
      <%= f.radio_button :state, 'Complete' %>Complete
      <% end %>
      <br />

      <%= f.label :price %> 
      <% if current_user.role=='admin' %>
      <%= f.number_field :price %>
      <% else %>
      <%= @order.price %>EUR
      <%= f.hidden_field :price %>
      <% end %>
      <br/>
      You can add more detail for your order now<br />
      <%= f.label :receiverfirstname %>
      <%= f.text_field :receiverfirstname %>
      <%= f.label :receiversecondname%>
      <%= f.text_field :receiversecondname %>
      <%= f.label :receiveraddress, 'receiver full address' %>
      <%= f.text_field :receiveraddress %>
      <%= f.label :receivertel, 'receiver telephone' %>
      <%= f.text_field :receivertel %>

    <br><br>
      <%= f.submit "Pay now", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
