<% provide(:title, 'New Order') %>
<h1>New Order</h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_for(@order) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
      <%= f.label :fromlocation, 'my location' %><br />
      <%= f.text_field :fromlocation %>
      <%= f.label :tolocation, 'receiver location' %><br />
      <%= f.text_field :tolocation %>
    <br><br>
      <%= f.submit "Create new order", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>


      
      

     
      