<% provide(:title, 'Order Detail') %>
<h1>Order Detail</h1>
 <table id="order" class="display">
    <thead>
      <tr>
        <th>order_id</th>
        <th>destination</th>
        <th>price</th>
        <th>statement</th>
        <th>generated date</th>
        <th>payment id </th>
        <% if current_user && current_user.role == 'admin' %>
        <th>edit</th>
        <% end %>
      </tr>
    <thead>
    <tbody>
      <tr>
      <td><%= @order.id %></td>
      <td>From <%= Location.find_by_id(@order.fromlocation).address %> To <%= Location.find_by_id(@order.tolocation).address %></td>
      <td><%= number_to_currency(@order.price, unit: 'Euro', format: "%n %u") %></td>
      <td><%= @order.state %></td>
      <td><%= @order.created_at.strftime("%B %e, %Y") %></td>
      <td><%= Payment_notification.find_by_id(@order.paymentid).transcation_id if @order.paymentid %></td>
      <% if current_user && current_user.role == 'admin' %>
      <td><%= link_to('edit', "../orders/#{@order.id}/edit") %>
      <% end %>
    </tr>
    </tbody>
  </table>   
</br>

  <h2>Deliveried items list</h2>
  <table id="items" class="display">
   <thead>
      <tr>
        <th>item_id</th>
        <th>user_id</th>
        <th>order_id</th>
        <th>category</th>
        <th>quantity</th>
        <th>weight</th>
        <th>price</th>
        <th>describe</th>
        <th>update_at</th>
      </tr>
    <thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
      <td><%= link_to(item.id, item) %></td>
      <td><%= link_to(item.user_id, "../users/#{item.user_id}") %></td>
      <td><%= link_to(item.order_id, "../orders/#{item.order_id}") %></td>
      <td><%= Category.find_by_id(item.category_id).name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.weight %></td>
      <td><%= number_to_currency(item.price, unit: 'Euro', format: "%n %u") %></td>
      <td><% if item.describe %>
            <% item.describe %>
            <% else %>
             None
            <% end %>
      </td>
      <td><%= item.updated_at.strftime("%B %e, %Y") %></td>
      </tr>
     <% end %>
    </tbody>
  </table> 
      
      